@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --corClara: #f9f7f7;
}

body {
    background: var(--corClara);
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.carouselExampleCaptions {
    width: 80%;
}
.secaoLivros {
    margin-top: 50px;
    display: grid;
}

.navbar.navbar-expand-lg {
    background-color: #112d4e;
    color: var(--corClara);
}
.returnBtn {
    color: #000;
    text-decoration: none;
}